<section class="nav-container">
  <div class="link-wrapper">
    <a [routerLink]="['/']">Main Project</a>
  </div>
  <div class="link-wrapper">
    <a [routerLink]="['./hr']">Project A Hr Module</a>
  </div>
  <div class="link-wrapper">
    <a [routerLink]="['./reports']">Project A Reports</a>
  </div>
  <div class="link-wrapper">
    <!-- <a [routerLink]="['./app-a-hr']">Project A HR Module</a> -->
    <a routerLink="./app-a-hr">Project A HR Module</a>
  </div>
</section>