<section class="nav-container">
  <div class="link-wrapper">
    <a [routerLink]="['/']">Main Project Home</a>
  </div>
  <div class="link-wrapper">
    <a [routerLink]="['app-a']">Project A Home</a>
  </div>
</section>