/* You can add global styles to this file, and also import other style files */
.nav-container {
    border: 1px solid;
    padding: 1rem;
    display: flex;
    flex: 1;

    .link-wrapper {
        display: flex;

        a {
            margin: 0 1rem;
        }
    }
}